html
{
   width: 100%;
   margin-left: -4px;
   background-color: #E6E6FA;
}

body{
    width: 100%-4px;
    background-color: #E6E6FA;
}

h1{
    text-align:center;
}

p{
   text-align: center;
}

form
{
   text-align: center;
}

ul.menu li{
    display: inline;
}

.c9menu{
    text-decoration: none;
    color: blue;
}

.c9option
{
    text-decoration: underline;
    color: blue;
}

img {
   padding:3px;
   border:2px solid #021a40;
   background-color:#87CEEB;
}

a:hover {
   color: red;
}