html,
    body {
      width: 100%;
      height: 100%;
    }
    
    
    
    body {
      padding: 10px;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
    /* CENTER IT!
 * margin auto for the thing being centered
 * and it must have a width
 */
    
    .board {
      width: 250px;
      height: 250px;
      margin: 0 auto;
    }
    /* Effects from https://css-tricks.com/almanac/properties/b/box-shadow/ */
    
    /* Gradient from http://www.cssmatic.com/gradient-generator */
    
    .purple-gradient {
        background: rgba(235,233,249,1);
        background: -moz-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
        background: -webkit-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: -o-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: -ms-linear-gradient(left, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        background: linear-gradient(to right, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
    }
    /* Normal Checkboard Rules */
    
   table{
            display: inline-block;
   }
   
   main{
      text-align: center;
   }
    /* Fixes space between inline-block divs */
    
    margin-fix {
      margin-left: -4px;
    }
    
    @media screen and (max-width: 400px) and (min-width: 0px) {
      .effect4:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 100px;
        right: 100px;
        left: auto;
        width: 30%;
        top: 20%;
        max-width: 70%;
        background: #777;
        box-shadow: 0 15px 10px #777;
        transform: rotate(3deg);
      }
    }